<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="active">
            <a href="/">
                <i class="fa fa-home"></i>TRANG CHỦ
            </a>
        </li>

        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#Products"><i class="fa  fa-cubes"></i>QUẢN LÝ SẢN PHẨM <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="Products" class="">
                <li>
                    <a href="/Manage/Product/Index">
                        <i class="fa fa-arrow-circle-right"></i>Sản phẩm
                    </a>
                </li>
                <li>
                    <a href=" /Manage/Product/Comment">
                        <i class="fa fa-arrow-circle-right"></i>Đánh giá
                    </a>
                </li>
                <li>
                    <a href="/Manage/CategoryProduct/Index">
                        <i class="fa fa-arrow-circle-right"></i>Danh mục
                    </a>
                </li>
                <li>
                    <a href="/Manage/CategoryProduct/Manufaceture">
                        <i class="fa fa-arrow-circle-right"></i>Thương hiệu
                    </a>
                </li>
                <li>
                    <a href="/Manage/Videos/Index">
                        <i class="fa fa-arrow-circle-right"></i>Video
                    </a>
                </li>
                <li>
                    <a href="/Manage/OrderSitting/Index">
                        <i class="fa fa-arrow-circle-right"></i>Sitting
                    </a>
                </li>
                @*<li>
                    <a href="/Manage/Downloads/IndexCatalogDownloads">
                        <i class="fa fa-arrow-circle-right"></i>Danh mục tài liệu
                    </a>
                </li>*@
            </ul>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#Orders"><i class="fa fa-shopping-cart"></i>ĐƠN HÀNG <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="Orders" class="">
                <li>
                    <a href="/Manage/Order/Index">
                        <i class="fa fa-arrow-circle-right"></i>Đơn hàng
                    </a>
                </li>
            </ul>
        </li>

        @*<li>
                <a href="javascript:;" data-toggle="collapse" data-target="#Members"><i class="fa fa-users"></i>THÀNH VIÊN <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="Members" class="">
                    <li>
                        <a href="/Manage/Members/Index">
                            <i class="fa fa-arrow-circle-right"></i>Thành viên
                        </a>
                    </li>
                </ul>
            </li>*@
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#news"><i class="fa fa-file-text"></i>QUẢN LÝ NỘI DUNG<i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="news" class="">
                <li>
                    <a href="/Manage/News/Index">
                        <i class="fa fa-arrow-circle-right"></i>Tin tức
                    </a>
                </li>
                <li>
                    <a href="/Manage/News/NewsGroup">
                        <i class="fa fa-arrow-circle-right"></i>Nhóm tin
                    </a>
                </li>
                <li>
                    <a href=" /Manage/News/CommentsNew">
                        <i class="fa fa-arrow-circle-right"></i>Đánh giá
                    </a>
                </li>
                <li>
                    <a href="/Manage/Albums/Index">
                        <i class="fa fa-arrow-circle-right"></i>Banner
                    </a>
                </li>
                <li>
                    <a href="/Manage/Menus/Index">
                        <i class="fa fa-arrow-circle-right"></i>Menu
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#setting"><i class="fa fa-users"></i>CẤU HÌNH<i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="setting" class="">
                <li>
                    <a href="/Manage/TextHtml/Index">
                        <i class="fa fa-arrow-circle-right"></i>TextHtml
                    </a>
                </li>
                <li>
                    <a href="/Manage/WebSetting/SitemapXml">
                        <i class="fa fa-arrow-circle-right"></i>Tạo siteMap
                    </a>
                </li>
                <li>
                    <a href="/Manage/Tags/Index">
                        <i class="fa fa-arrow-circle-right"></i>Tags
                    </a>
                </li>
                <li>
                    <a href="/Manage/FriendlyUrl/Index">
                        <i class="fa fa-arrow-circle-right"></i>Đường link Url
                    </a>
                </li>
                <li>
                    <a href="/Manage/Configs/Index">
                        <i class="fa fa-arrow-circle-right"></i>Chuyển hướng Url
                    </a>
                </li>
                <li>
                    <a href="/Manage/WebSetting/Index">
                        <i class="fa fa-arrow-circle-right"></i>Cấu hình site
                    </a>
                </li>
                <li style="margin-bottom:100px"></li>
            </ul>
        </li>
    </ul>
</div>