<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="LogFolder/LogServiceHO.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <connectionStrings>
    <add name="BuyGroup365Entities" connectionString="metadata=res://*/DataModel365.csdl|res://*/DataModel365.ssdl|res://*/DataModel365.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-5IBJNHNUL58\SQLEXPRESS;initial catalog=database_linhsam;user id=user_vinaplaza;password=123456acb@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="database_dienmaymienbac_Conn" connectionString="Data Source=WIN-5IBJNHNUL58\SQLEXPRESS; User ID=user_vinaplaza;Password=123456acb@;Database=database_linhsam;Persist Security Info=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="HostUrl" value="https://www.vinaplaza.vn" />
    <add key="merchant_site_code" value="40593" />
    <add key="secure_pass" value="123456acb" />
    <add key="acount_receiver" value="support@buygroup365.com" />
    <add key="my_cookies" value="my_cookies" />
    <add key="time_cookies" value="24" />
    <add key="max_cookies" value="10" />
    <add key="database_name" value="database_linhsam" />
    <add key="ExtensionLink" value=".html" />
    <add key="ToMail" value="chiennd@alupvn.com" />
    <add key="FromMail" value="chiennd@alupvn.com" />
    <add key="PassFromMail" value="?a02032013" />
    <add key="LinkCDN" value="https://cdn.vinaplaza.vn" />
    <add key="Version" value="vinaplaza2019" />
  </appSettings>
  <system.web>
    <sessionState timeout="140" />
    <customErrors mode="Off" defaultRedirect="~/">
      <error statusCode="404" redirect="/loi404" />
      <error statusCode="500" redirect="/loi404" />
    </customErrors>
    <authentication mode="None" />
    <compilation targetFramework="4.5" debug="false" />
    <httpRuntime targetFramework="4.5" maxRequestLength="2147483645" executionTimeout="900" enable="true" />
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="cache1minus" duration="60" varyByParam="*" />
          <add name="cache1hour" duration="3600" varyByParam="*" />
          <add name="cache1Day" duration="86400" varyByParam="*" />
          <!--1ngay-->
          <add name="cacheListProduct" duration="8640000" sqlDependency="database_linhsam:Products;database_linhsam:Catalogs;database_linhsam:ProductProperties;database_linhsam:ProductImagesPrice;database_linhsam:ProductImages;database_linhsam:ProductAttributes;database_linhsam:CatalogPropertiesValue;database_linhsam:CatalogProperties" varyByParam="friendUrl;id;mid;price;order;page;k" />
          <add name="cacheProductDetail" duration="8640000" sqlDependency="database_linhsam:Products;database_linhsam:ProductProperties;database_linhsam:ProductImagesPrice;database_linhsam:ProductImages;database_linhsam:ProductAttributes;database_linhsam:Comments" varyByParam="id" />
          <add name="cacheListNew" duration="8640000" sqlDependency="database_linhsam:News;database_linhsam:NewsGroups" varyByParam="id;page;pageSize" />
          <add name="cacheNewDetail" duration="8640000" sqlDependency="database_linhsam:News;database_linhsam:NewsGroups" varyByParam="id" />
          <add name="cacheFriendly" duration="864000000" sqlDependency="database_linhsam:FriendlyUrl" />
          <add name="ConfigRedirectUrl" duration="8640000" sqlDependency="database_linhsam:ConfigRedirectUrl" />
        </outputCacheProfiles>
      </outputCacheSettings>
      <sqlCacheDependency enabled="true">
        <databases>
          <add name="database_linhsam" connectionStringName="database_dienmaymienbac_Conn" pollTime="3600" />
        </databases>
      </sqlCacheDependency>
    </caching>
    <pages>
      <namespaces>
        <add namespace="MvcPaging" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthenticationModule" />
      <remove name="BundleModule" />
      <add name="BundleModule" type="System.Web.Optimization.BundleModule" />
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="2147483645" />
      </requestFiltering>
    </security>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
    </staticContent>
    <rewrite>
      <rules>
        <!--<rule name="Redirect domain.com to www" patternSyntax="ECMAScript" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="http://vinaplaza.vn$" />
          </conditions>
          <action type="Redirect" url="https://www.{HTTP_HOST}/{R:1}" />
        </rule>-->
        <rule name="HTTPS force" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://www.{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
        </rule>
        <!--<rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" redirectType="Found" url="https://vinaplaza.vn/{R:1}" />
        </rule>-->
      </rules>
    </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--<system.web.extensions>
    <scripting>
      -->
  <!--<webServices>
        <jsonSerialization maxJsonLength="2147483645" recursionLimit="100000">
        </jsonSerialization>
      </webServices>-->
  <!--
    </scripting>
  </system.web.extensions>-->
</configuration>