@using Common.util
@using Common
@using Business.ClassBusiness;

<aside id="woocommerce_product_categories-2" class="widget woocommerce widget_product_categories">
    <span class="widget-title shop-sidebar">Danh mục tin tức</span>
    <div class="is-divider small"></div>
    <ul class="product-categories">

        @Html.Raw(ViewBag.MenuNew)
    </ul>
</aside>