@using Common
@using Business.ClassBusiness;

<div>
    <div id="dnn_ctr1174_ContentPane">
        <!-- Start_Module_1174 -->
        <div class="DNNModuleContent ModAlupHtmlTextC" id="dnn_ctr1174_ModuleContent">
            <p class="title"><span >Đăng K&yacute; Email</span></p>

            <p>Để Nhận Th&ocirc;ng Tin Mới Nhất Từ Điện M&aacute;y Miền Bắc</p>

            <div class="block-content">
                <div class="input-box"><input class="input-text required-entry validate-email" id="newsletter" name="alaskamienbac.vn@gmail.com" placeholder="Địa chỉ email (*)" title="Sign up for our newsletter" type="text" /></div>

                <div class="actions"><button class="button" title="Đăng Ký" type="submit"><span>Đăng K&yacute;</span></button></div>
            </div>
        </div>
        <!-- End_Module_1174 -->
    </div>
</div>
