@{
    ViewBag.Title = "NotPermissionAdmin";
    Layout = "~/Areas/Manage/Views/Shared/_LayoutLoginAmin.cshtml";
}

<div class="row" style="margin-top: 100px">
    <div class="col-md-4 col-md-offset-4 new-users ">
        <div class="content" style="background-color: white;padding: 20px">
            <h2>Bạn không có quyền truy cập!</h2>
            <a href="/Manage/Login/Login" class="btn btn-sm btn-primary " >Đăng nhập</a>
        </div>
    </div>
</div>