
<aside class="hm-bn1">


    <div id="sync3" class="owl-carousel owl-theme">
        @Html.Raw(@ViewData["strImgView1"])
    </div>

   



</aside>
			<div id="sync4" class="owl-carousel owl-theme">
    @Html.Raw(@ViewData["strImgView2"])
</div>								   
<style>
 
</style>