@using BuyGroup365.Areas.Manage.Models
@using MvcPaging
@model Common.TextHtml
@{
    ViewBag.Title = "Tạo mới TextHtml";
    Layout = "~/Areas/Manage/Views/Shared/_LayoutAdmincshtml.cshtml";
}

<div class="container-fluid" ng-app="body">
    @Html.Raw(AdminFunction.BindHeader("TextHtml", " Thêm mới", null, null, null))
    <!-- /.row -->
    <!-- /.row -->
    <!-- /.row -->
    <div class="row" ng-controller="Index">
        <div class="col-lg-12">
            <div class="panel panel-default">
                @using (Html.BeginForm("Add", "Albums", FormMethod.Post, new { enctype = "multipart/form-data", id = "Add" }))
                {
                    @Html.ValidationSummary(true)

 <div class="modal-footer">
<a type="button" class="btn btn-default" onclick="window.history.back();">Trở về</a>
     <button type="submit" class="btn btn-primary">Thêm mới</button>
 </div>

                <div class="col-lg-12">
                    <div class="form-group">
                        <label>Tiêu đề<span class="required">*</span></label><br />
                        <input class="form-control" autocomplete="off" maxlength="100" data-val-required="Mời nhập tiêu đề" required id="Title" name="Title" type="text" />
                        <span class="field-validation-valid" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label>Code</label><br />
                        <input type="text" class="form-control" maxlength="20" id="Code" name="Code" />
                        <span class="field-validation-valid" data-valmsg-for="Code" data-valmsg-replace="true"></span>
                    </div>
<div class="form-group">
                        <label>Sắp xếp</label><br />
                        <input type="text" class="form-control" maxlength="5" id="Order" name="Order" />
                        <span class="field-validation-valid" data-valmsg-for="Code" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label>Status<span class="required">*</span></label><br />
                        <select class="form-control" name="Status" id="Status">
                            <option value="1" selected="selected">Phát hành</option>
                            <option value="0">Không phát hành</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Độ rộng Banner</label><br />
                        <input type="text" class="form-control" maxlength="4" id="Attribute" name="Attribute" />
                        <span class="field-validation-valid" data-valmsg-for="Code" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label>Nội dung</label><br />
                        <textarea class="form-control" id="Content_add" name="Description" style="height:200px"></textarea>
                    </div>
                </div>

                <div class="modal-footer">
<a type="button" class="btn btn-default" onclick="window.history.back();">Trở về</a>
                    <button type="submit" class="btn btn-primary">Thêm mới</button>
                </div>

                }
            </div>
        </div>
        <script type="text/javascript">
            //var setVAL = CKEDITOR.replace('Content_add', { height: 500 });
            //CKFinder.setupCKEditor(setVAL, '/Content/css/ckfinder/');
        </script>
    </div>
</div>